// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

/* Make hero more compact */
.hero {
  padding-top: 3rem !important;
  padding-bottom: 1.5rem !important;
}

/* DEBUG: if you see a thick red border under the navbar, custom.scss is loaded */
.navbar { border-bottom: 10px solid red !important; }
