<!DOCTYPE html>
<html lang="{{ site.Language.Lang }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ block "title" . }}{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} · {{ site.Title }}{{ end }}{{ end }}</title>
{{ partial "seo_tags.html" . }}
{{ partial "np/head.html" . }}
{{ block "head" . }}{{ end }}
</head>
<body>

<div class="util">
  <div class="wrap">
    <a href="https://www.uv.es" target="_blank" rel="noopener">Universitat de València</a>
  </div>
</div>

{{ partial "np/masthead.html" . }}

<main>
{{ block "main" . }}{{ end }}
</main>

{{ partial "np/footer.html" . }}

</body>
</html>
