{{ $ := .root }}
{{ $item := .page }}

<li class="media stream-item" itemscope itemtype="http://schema.org/ScholarlyArticle">
  <div class="media-body">

    <div class="section-subheading article-title mb-0 mt-0">
      <a href="{{ $item.RelPermalink }}" itemprop="name">{{ $item.Title }}</a>
    </div>

    {{ with $item.Params.authors }}
      <div class="stream-meta article-metadata">
        {{ delimit . ", " }}
      </div>
    {{ end }}

    <div class="stream-meta pub-meta">
      {{ with $item.Params.publication }}
        <span class="pub-publication">{{ . | markdownify }}</span>
      {{ end }}
      {{ with $item.Date }}
        <span class="pub-year">{{ .Format "2006" }}</span>
      {{ end }}
    </div>

    <div class="btn-links">
      {{ with $item.Params.doi }}
        <a class="btn btn-outline-primary btn-page-header btn-sm" href="https://doi.org/{{ . }}" target="_blank" rel="noopener">
          DOI
        </a>
      {{ end }}
    </div>

  </div>
</li>
